@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
/*
   Override hiding of Bookmarks Toolbar in F11 full screen
   when you roll down the tabs/main toolbar 
    src: https://support.mozilla.org/en-US/questions/1212156?fpa=1
    and https://www.userchrome.org/how-create-userchrome-css.html
*/
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
  visibility: unset !important;
}

/* Disable window control buttons for WM */

.titlebar-min {display:none!important;}
.titlebar-max {display:none!important;}
.titlebar-restore {display:none!important;}
.titlebar-close {display:none!important;}

/* Disable microphone/video icon when in calls */

#webrtcIndicator {
  display: none;
}
